@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config './tailwind.config.js';

* {
    font-family: "Nunito", sans-serif;
}

$primary-150: theme("colors.orange.150");
$primary-250: theme("colors.orange.250");
$primary-350: theme("colors.orange.350");
$primary-450: theme("colors.orange.450");
$primary-550: theme("colors.orange.550");
$primary-650: theme("colors.orange.650");
$primary-750: theme("colors.orange.750");

// ----------------------- Login page start -----------------
.login-form-btn {
    @apply rounded-3xl
}

.fi-simple-layout .fi-input[type="email"] {
    @apply p-[15px]
}

.fi-simple-layout .fi-input[type="password"] {
    @apply p-[15px]
}

.fi-simple-layout .fi-input[type="text"] {
    @apply p-[15px]
}

.socialite-button {
    width: 95%;
}

.login-page-button {
    border: 2px solid #F0F0F0;
    border-radius: 20px;
    padding: 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    &:hover {
        @apply bg-orange-150;
    }
}

.login-page-button span {
    color: $primary-650 !important;
}

.login-page-button .fi-btn {
    background-color: #ffffff !important;
}

.login-page-button .fi-btn:hover {
    background-color: $primary-150 !important;
}

.login-form-btn {
    @apply rounded-3xl
}

.login-form-btn:focus-within {
    --tw-ring-color: $primary-150 ;
}

button.login-button.fi-ac-btn-action {
    @apply bg-[#D06348] p-[20px] relative rounded-full min-w-[30%] xxs:w-[30%] xxs:left-[35%] lg:w-[30%] lg:left-[25%] xl:w-[30%] xl:left-[35%] xxl:w-[30%] xxl:left-[33%]
}

.star-hidden .fi-fo-field-wrp-label span sup {
    display: none;
}

// ----------------------- Login page end -----------------

// ----------------------- Sidebar start-----------------
.fi-sidebar {
    background-color: $primary-650 !important;
}

.fi-sidebar-item {
    @apply text-white;
}

.fi-sidebar-group svg {
    @apply text-white;
}

.fi-sidebar-group span {
    @apply text-white;
}

.fi-sidebar-item a {
    @apply bg-transparent pr-[10px]
}

.fi-sidebar-item a:hover {
    @apply hover:bg-transparent
}

.fi-sidebar-item a:focus {
    @apply focus:bg-transparent
}

.fi-sidebar-item a:active {
    padding: -0.5rem !important;
    @apply active:bg-transparent
}

.fi-sidebar-item {
    border-left: 0px;
    border-color: $primary-650;
}

.fi-sidebar-item {
    --clr: #fff;
    color: var(--clr);
    transition: outline-width 200ms ease, outline-offset 200ms ease;
}

.fi-sidebar-item:hover,
.fi-sidebar-item:focus {
    outline: var(--outline);
    outline-width: 2px;
    outline-offset: -3px;
}

.fi-sidebar-item:hover {
    background-color: $primary-650 !important;
}

/*--------------------------Sidebar hover item and nav--------------------------------------*/

.fi-sidebar-nav ul li {
    .fi-sidebar-item span {
        font-size: 16px;
        font-weight: 600;
    }
}

nav ul li:hover .filament-sidebar-item {
    outline: none;
    border-radius: .5rem !important;
}

nav ul li:hover {
    background-color: transparent !important;
    border-radius: .6rem !important;
}

.fi-sidebar-item-active a {
    color: #fff !important;
    background-color: $primary-750 !important;
}

.fi-sidebar-header {
    background-color: $primary-650 !important;
}

.fi-sidebar-header {
    height: 4rem;
}

.fi-sidebar-nav {
    margin-top: 16px;
}

aside li.fi-sidebar-group>div {
    display: flex !important;
    overflow: hidden;
    width: 2.2rem;
    text-wrap: nowrap;
}

aside.fi-sidebar-open li.fi-sidebar-group>div {
    display: flex !important;
    visibility: visible;
    width: auto;
    text-wrap: auto;
}

aside.fi-sidebar-open li.fi-sidebar-group>div>span {
    color: white;
    border: none;
    height: 16px;
}

.fi-sidebar-item a:hover {
    background-color: $primary-750 !important;
    color: white;
    border-radius: .5rem !important;
    width: 100%;
    color: #fff !important;
}

/*--------------------------Scrollbar--------------------------------------*/
.fi-sidebar ::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    border-radius: 10px;
}

.fi-sidebar ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $primary-750;
    display: none;
}

.fi-sidebar:hover ::-webkit-scrollbar-thumb {
    display: block;
}

.fi-sidebar ::-webkit-scrollbar-thumb:hover {
    background-color: $primary-750;
}

.fi-sidebar-group span:first-child {
    color: $primary-650;
    font-weight: 800 !important;
    font-size: 16px !important;
    border-bottom: 2px solid #ffffff;
    height: 3px;
    user-select: none;
}

.closeMenu {
    padding: 0.9rem;
    border-radius: 60%;
    background-color: $primary-650;
    border-radius: 0rem 2rem 2rem 0rem;
    position: relative;

}

.closeMenu svg {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

.closeMenu::after {
    position: absolute;
    content: "";
    top: 0%;
    left: -20%;
    height: 100%;
    width: .8rem;
    background-color: $primary-650;
}

.openMenu svg {

    object-fit: fill;
    width: 2.3rem !important;
    height: 3.7rem !important;
    padding-right: 5px;
    padding-bottom: 4px;
}

.fi-sidebar-header:has(.fi-icon-btn) svg path {
    color: #fff;
}

.fi-sidebar-header .fi-icon-btn {
    position: absolute;
    justify-items: center;

}

.fi-sidebar-header .header-icon {
    margin-left: 1.5rem;
    position: absolute;
    top: 0;
}

.fi-sidebar:has(.fi-icon-btn) button {
    width: 2rem !important;
    height: 2rem !important;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.fi-sidebar-header a svg {
    margin-top: 6px;
    position: absolute;
    top: 0;
    left: 33px;
}

// ----------------------- Sidebar end-----------------
// ----------------------- Action button start-----------------
header .fi-ac {
    margin-right: auto;
    padding-left: 8px;
}

.fi-btn {
    background-color: $primary-650 !important;
}

.fi-btn:hover {
    background-color: $primary-750 !important;
}

.fi-btn-label {
    color: #ffffff
}

// ----------------------- Action button end-----------------